page-login {
    form{
        vertical-align: middle;
    }
    .spacer10{
        height: 10px;
    }
    .spacer20{
        height: 20px;
    }
    img{
        padding-top: 130px;
        max-height: 400px;
        max-width: 300px;
        display:block;
        width:70%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
    }
    button{
        min-height: 35px;
    }
    ion-label{
        text-align: center;
    }
    ion-input{
        text-align:center;
    }
}