page-profil {
 .weather{
    width:100%;
    height:175px;
    margin:0px 0px;
    line-height:165px;
    background-color:#fff;
    text-align:center;
 }
 .weatherIcon{
    font-size:64px;
    color:#888;
    vertical-align:middle;
 }
}
