<ion-header>
  <ion-navbar>
    <ion-title text-center>Relevé de compte</ion-title>
  </ion-navbar>
</ion-header>
<!--<ion-content padding>
  <h2>Welcome to Ionic!</h2>
  <p>
    This starter project comes with simple tabs-based layout for apps
    that are going to primarily use a Tabbed UI.
  </p>
  <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p>
</ion-content>-->
<!-- Segment in a header -->
<ion-content>
  <div padding>
    <ion-segment [(ngModel)]="value">
      <ion-segment-button value="All">
        Total ({{this.profilInfos.user.bankAccount[0].balance}})
      </ion-segment-button>
    </ion-segment>
  </div>
<div >
    <ion-card *ngFor="let transferIncome of this.profilInfos.transfersIncome" >
      <ion-card-content>
        <ion-card-title text-center>
           {{ transferIncome.reason}}
           test
        </ion-card-title>
      </ion-card-content>
  
      <ion-row no-padding>
        <ion-col text-center>
            <p style="color:green;">
                <ion-icon name='arrow-dropup' >{{transferIncome.amount}}</ion-icon> 
            </p>
        </ion-col>
        <ion-col text-center color="green">
            <p style="color:green;">
                <ion-icon name='calendar'></ion-icon> {{transferIncome.transferAt | date}}
            </p>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card *ngFor="let transferOutcome of this.profilInfos.transfersOutcome">
        <ion-card-content>
          <ion-card-title text-center>
            {{transferOutcome.reason}}
            test
          </ion-card-title>
        </ion-card-content>
    
        <ion-row no-padding>
          <ion-col text-center>
              <p style="color:red;">
                  <ion-icon name='arrow-dropdown' ></ion-icon> 20€
              </p>
          </ion-col>
          <ion-col text-center color="green">
              <p style="color:red;">
                  <ion-icon name='calendar' ></ion-icon> 20/05/2017
              </p>
          </ion-col>
        </ion-row>
    
      </ion-card>
  </div>
</ion-content>